<mat-card [routerLink]="capability().route" class="capability-card">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar">
      <mat-icon aria-hidden="true" class="capability-icon">{{ capability().icon }}</mat-icon>
    </div>
    <mat-card-title>{{ capability().name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="card-description">{{ capability().description }}</p>
    <app-support-badge [level]="capability().supportLevel" />
  </mat-card-content>
</mat-card>
